footer{
    background-color: hsl(192, 100%, 9%);
    color: rgb(132, 133, 134);
    display: flex;
    height: 300px;
    align-items: flex-end;
}
/* ---------------------------------- */

a{
    color: hsl(208, 11%, 55%);
    text-decoration: none;
}

#contact{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#coordonnees-tel, #coordonnees-mail{
    line-height: 4.5;
}

#coordonnees-tel, #coordonnees-mail, #coordonnees-adresse {
    list-style: none;
}

#coordonnees-tel:before, #coordonnees-mail:before, #coordonnees-adresse:before {
    content: "";
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 15px -20px 10px -30px;
}

#coordonnees-tel:before {
    background-image: url(icon_phone.svg);
}
    
#coordonnees-mail:before {
    background-image: url(icon_email.svg);
}
    
#coordonnees-adresse:before {
    background-image: url(icon_location.svg);
}

.adresse, .tel, .mail {
    font-size: x-small;
}

/* --------------------------------------------- */

ul, li{
    list-style: none;
}

#faq, #reseaux {
    line-height: 2.5; 
    font-size: small;
}

#faq{
    margin: auto;
    display: flex;
}

/* ---------------------------------------------- */

.reseau{
    display: flex;
    gap: 5px;
    margin-bottom: auto;
}

#facebook, #twitter, #instagram{
    a:hover{
    color: rgb(226, 88, 155)
}
}

#copyright{
    margin-top: auto;
    padding: 5px;;
}