

.box{
    background-color: grey;
    border: 5px solid red;
}


footer{
    background-color: hsl(192, 100%, 9%);
    color: rgb(132, 133, 134);
    display: flex;
}

.logo::before {
    background-image: url(logo.svg);
}
.logo::before{
    content: "";
    background-size:50%;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0 0 0 -30px;
}

.faq{
    display: flex;
    list-style: none;
}
#coordonnees-tel, #coordonnees-mail, #coordonnees-adresse {
    list-style: none;
}

#coordonnees-tel:before, #coordonnees-mail:before, #coordonnees-adresse:before {
    content: "";
    background-size:50%;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0 0 0 -30px;
}

#coordonnees-tel:before {
    background-image: url(icon_phone.svg)
}
    
#coordonnees-mail:before {
    background-image: url(icon_email.svg);
}
    
#coordonnees-adresse:before {
    background-image: url(icon_location.svg)
}

.adresse{
    font-size: small;
}



