footer{
    background-color: hsl(192, 100%, 9%);
    color: rgb(132, 133, 134);
    display: flex;
    height: 300px;
}
/* ---------------------------------- */

a{
    color: rgb(111, 107, 107);
    text-decoration: none;
}

#contact{
    display: flex;
    flex-direction: column;
    margin: 50px;
    line-height:  
}

#coordonnees-tel, #coordonnees-mail, #coordonnees-mail, #faq, #reseaux{
    line-height: 2.5;
}
#colone{
    line-height: ;
}


#coordonnees-tel, #coordonnees-mail, #coordonnees-adresse {
    list-style: none;
}

#coordonnees-tel:before, #coordonnees-mail:before, #coordonnees-adresse:before {
    content: "";
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0 20px 0 -30px;
}

#coordonnees-tel:before {
    background-image: url(icon_phone.svg);
}
    
#coordonnees-mail:before {
    background-image: url(icon_email.svg);
}
    
#coordonnees-adresse:before {
    background-image: url(icon_location.svg)
}

.adresse{
    font-size: small;
}

/* --------------------------------------------- */

ul, li{
    list-style: none;
}

#faq{
    margin: auto;
    margin-left: auto;
    display: flex;
    list-style: none;
}


/* ---------------------------------------------- */

#reseaux{
    flex-direction: row;
    margin: auto;
    margin-left: auto;

}

#facebook::before {
    background-image: 

}



