
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    right: 30%;
    top: 30%;
    z-index: 4;
   ;
  }

  .direction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h5 {
    color:hsl(192, 100%, 9%);
    font-size: 24px;
    text-align: center;
    opacity: 1;
  }
  
  /* Add styles to the form container */
  .form-container {
    padding: 10px;
    background-image: url(images/bg_hero_mobile.svg);
    background-color:hsl(322, 100%, 66%);
    opacity: 95%;
    border-radius: 10px;
    font-family: Poppins;
   }

  /* input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: hsl(193, 100%, 96%);
    opacity: 100%;
  }
  
  /* When the inputs get focus, do something (not working)*/
  /* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: hsl(193, 100%, 96%);
    outline: none;
  }
   */
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom:10px;
  }
  
  /* Add color to the cancel button */
  .form-container .cancel {
    background-color:hsl(192, 100%, 9%);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
