footer{
    background-color: hsl(192, 100%, 9%);
    color: rgb(132, 133, 134);
    display: flex;
    height: 400px;
    align-items: flex-end;
}
/* ---------------------------------- */

a{
    color: hsl(210, 15%, 87%);
    text-decoration: none;
}

#contact{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#coordonnees-tel, #coordonnees-mail{
    line-height: 2.5;
}

#coordonnees-tel, #coordonnees-mail, #coordonnees-adresse {
    list-style: none;
}

#coordonnees-tel:before, #coordonnees-mail:before, #coordonnees-adresse:before {
    content: "";
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 15px -20px 10px -30px;
}

#coordonnees-tel:before {
    background-image: url(images/icon_phone.svg);
}
    
#coordonnees-mail:before {
    background-image: url(images/icon_email.svg);
}
    
#coordonnees-adresse:before {
    background-image: url(images/icon_location.svg);
}

.adresse, .tel, .mail {
    font-size: medium;
}

/* --------------------------------------------- */

ul, li{
    list-style: none;
    padding-left: 5px;
}

#faq, #reseaux {
    display: flex;
    margin: auto;
    padding-left: 0;
    line-height: 2.5; 
    font-size: medium;
    gap: 20px;
}

/* ---------------------------------------------- */

.reseau{
    display: flex;
    font-size: x-large;
    gap: 10px;
    padding-left: 0;
    margin-bottom: 165px;
}

#facebook, #twitter, #instagram{
    a:hover{
    color: hsl(322, 100%, 66%)
}
}


#copyright{
    font-size: medium;
    margin-top: auto;
    color: hsl(210, 15%, 87%);;
}


@media screen and (max-width: 720px) {
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        height: 650px;
    }

    #contact{
        padding-left: 30px;
        margin-left: 0;
        font-size: large;
    }


   #faq{
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
        font-size: large;
        gap: 0;
   }

   #col{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0;
   }

   .reseau{
        font-size: xx-large;
        margin-top: 0;
        margin-bottom: 0;
   }

   #copyright{
        margin-bottom: 0;
        margin-top: -20px;
        font-size: x-small;
   }
}