footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    display: flex;
    height: 400px;
    align-items: flex-end;
    padding-top: 3%;
    font-family: 'Open Sans';
}
/* ---------------------------------- */

a{
    color: hsl(212, 21%, 86%);
    text-decoration: none;
}

#contact{
    display: flex;
    flex-direction: column;
    margin: 160px 0 80px 110px;
    width: 27%;
}

#coordonnees-tel, #coordonnees-mail{
    line-height: 2.5;
}

#coordonnees-tel, #coordonnees-mail, #coordonnees-adresse {
    list-style: none;
}

#coordonnees-adresse:before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 18px;
    position: absolute;
    margin: 12px 0 0 -35px;
}
#coordonnees-tel:before{
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    position: absolute;
    margin: 12px 0 0 -35px;
}
#coordonnees-mail:before{
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    position: absolute;
    margin: 15px 0 0 -35px;  
}

#coordonnees-adresse:before {
    background-image: url(images/icon_location.svg);
}

#coordonnees-tel:before {
    background-image: url(images/icon_phone.svg);
}
    
#coordonnees-mail:before {
    background-image: url(images/icon_email.svg);
}
    
.adresse, .tel, .mail {
    font-size: 1.25vw;
}

/* --------------------------------------------- */

ul, li{
    list-style: none;
}

#faq{
    display: flex;
    margin: 0 0 9.5% 8%;
    line-height: 2;
    font-size: 1.3vw;
}
.faq_colonne1{
    margin-right: 25%;
}
.faq_colonne1>ul>li{
    width: max-content;
}
.faq_colonne2>ul>li{
    width: max-content;
}


#reseaux {
    display: flex;
    line-height: 2.5; 
    font-size: small;
} 

.reseau{
    display: flex;
    font-size: xx-large;
    padding-left: 85%;
    margin-bottom: 57%;
}

/* ---------------------------------------------- */
.facebook, .twitter, .instagram{
    a:hover{
    color: hsl(322, 100%, 66%)
}
}

#facebook, #twitter, #instagram{
    overflow: hidden;
    transition: transform 0.3S ease;
}
.zoomed{
    transform: scale(1.5);
}


#copyright{
    font-size: x-small;
    color: hsl(210, 15%, 87%);
}
#copy{
    padding-bottom: 20%;
    padding-left: 85%;
    width: 100%;
}

@media screen and (max-width: 720px) {
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding-top: 25%;
        padding-left: 5%;
    }
    .logo-huddle{
        padding-top: 7%;
    }
    .colonne{
        padding:5% 2% 0 8%;
    }

    #contact{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .adresse, .tel, .mail{
    font-size: 4vw;
    padding: 0 2% 0 2%;
    }

   #faq{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 4vw;
        line-height: 2.5;
        margin: 10% 15% 0 0;
   }

   ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
   }

   #col{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: content-box;
   }
   #reseaux{
        width: 100%;
        justify-content: center;
        
   }
   .reseau{
        font-size: xx-large;
        padding: 3% 0 0 0;
        margin-bottom: 0;
   }
   #copy{
        padding: 0;
   }
   #copyright{
        margin-bottom: 0;
        margin-top: -20px;
        font-size: 2.5vw;
        text-align: center;
        padding:2% 0 6% 0;
   }

   #coordonnees-adresse:before {
    background-size: cover;
    width: 14px;
    height: 18px;
    margin: 0 0 0 -9%;
    background-repeat:no-repeat;
    }
    #coordonnees-tel:before{
    background-size: contain;
    width: 20px;
    height: 16px;
    position: absolute;
    margin: 3% 0 0 -9%;
    background-repeat:no-repeat;
    }
    #coordonnees-mail:before{
    background-size: contain;
    width: 20px;
    height: 16px;
    position: absolute;
    margin: 3% 0 0 -9%;  
    background-repeat:no-repeat;
    }

}