body {
    max-width: 1440px;
    }

.box {
    display:flex;
    margin: 2% 9%;
    height:40%;
    width:90%;
    border:0px solid white;
    border-radius: 5px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
}

.box-reverse {
    display:flex;
    flex-direction: row-reverse;
    margin: 2% 9%;
    height:40%;
    width:90%;
    border:0px solid white;
    border-radius: 5px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
}

img {
    height: 80%;
    width: 70%;
    margin: 5%;
}

p {
    color:hsl(208, 11%, 55%);
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
}

h3 {
    color:hsl(192, 100%, 9%);
    font-family: 'poppins';
    font-weight: 600;
}

.text-main {
    padding: 10% 2% 10% 10%;
    width: 70%;
}

.img-main {
    display:flex;
    justify-content: flex-end;

}

.img-reverse {
   
}
