
.box {
    display:flex;
    justify-content: space-around;
    margin: 2% 5%;
    border:0px solid white;
    border-radius: 10px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
    padding: 0 0 0 7%
}

.img-main {
    display:flex;
    justify-content: flex-end;
    width: 50%;
    padding: 5% 3% 5% 7%;
}

.img-size {
    width: 80%;
    
}

.right {
    width: 60%;
    padding: 5% 5% 5% 0;
}

.reverse {
    flex-direction: row-reverse;
}

.p-main {
    color:hsl(208, 11%, 55%);
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;

}

h3 {
    color:hsl(192, 100%, 9%);
    font-family: 'poppins';
    font-weight: 600;
    margin-bottom: -2%;
}

.text-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 3% 2% 0 0;
}

