
.box {
    display:flex;
    justify-content: space-around;
    margin: 2% 5%;
    border:0px solid white;
    border-radius: 5px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
    padding-left: 10%;
}

.img-main {
    display:flex;
    justify-content: flex-end;
    width: 40%;
}

.reverse {
    flex-direction: row-reverse;
}

.img-size {
    width: 70%;
}


.p-main {
    color:hsl(208, 11%, 55%);
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
}

h3 {
    color:hsl(192, 100%, 9%);
    font-family: 'poppins';
    font-weight: 600;
}

.text-main {
    padding: 0 10% 0 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}



