body{
    margin: 0;
}

.overlay{
    position: fixed;
    width: 100%; 
    /* height: max-content;  */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: 2; 
    cursor: pointer;   
}

.hidden{
    display: none;
}

.popUpWindow {
    position: fixed;
    height: max-content;
    right :10%;
    left : 10%;
    top : 10%;
    bottom : 10%;
    z-Index : 4;
    background-color : white;
    box-shadow : 0px 0px 10px 1px rgb(5 5 5 / 63%);
    border-radius : 10px;
    padding: 2%;
    background-image: url(images/bg_hero_mobile.svg);
    background-color: rgba(243, 255, 255, 0.959);
}

.modalWindowContent{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.closeBtn{
    position: absolute;
    top: 0;
    left: 5px;
}

.closeBtn:hover{
cursor : pointer;
}

.modalWindowTitle, .submit-text-container {
font-family: 'open sans';
font-size: 2.5vw;
font-weight: 600;
margin: 0 auto;
text-align: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.field{
padding: 3% 1%;
display: flex;
justify-content: space-around;
}

.btnfield{
    display: flex;
}

.subscribeBtn{
font-family: 'open sans';
font-weight: 600;
background-color: hsl(322, 100%, 66%);
color: white;
font-size: 1.4vw;
padding: 3% 12% 3% 12%;
border-radius: 45px;
border: none;
box-shadow: 1px 1px 5px 1px rgb(224, 223, 223);
margin: 0 auto;
}

.subscribeBtn:hover{
background-color:hsla(322, 100%, 73%, 0.651)
}


.field > input{
border: none;
box-shadow: 0px 0px 2px 0px #aaaaaa6b;
border-radius: 3px;
padding: 1% 4%;
}

.field > label{
    font-size: 2.5vw;
}

.submit-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

@media screen and (max-width: 720px) {
    .subscribeBtn{
        font-size: 2vw;
    }
}