body {
    
}


.box {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 2% 5%;
    height:10%;
    width:90%;
    border:0px solid white;
    border-radius: 5px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
}

p {
    font-size: 18px;
    margin: 5%;
    font-family: 'open sans';
    Weight: 400, 700
}

h3 {
    margin:5%;
    font-family: 'open sans';
    Weight: 600
}

svg {
    display:flex;
    justify-content: flex-end;
    height: 30%;
    width:30%;
}
