body{
    padding: 0;
    margin: 0;
    font-size: 18px;
    /* width: 1440px; */

p {
    margin: 5%;
    font-family: 'open sans';
    font-weight: 400;
}

h3 {
    margin:5%;
    font-family: 'open sans';
    font-weight: 600;
}


.box {
    display: flex;
    justify-content: space-around;
    margin: 2% 5%;
    border: none;
    border-radius: 10px;
    box-shadow:1px 1px 5px 1px rgb(224, 223, 223);
}

.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-main img{
    width: 70%;
    padding: 10%;
}

footer{
    background-color:hsl(192, 100%, 9%);
}